@import "tailwindcss";

@theme {
  --color-pink-50: #fff1f2;
  --color-pink-100: #ffe4e6;
  --color-pink-200: #fecdd3;
  --color-pink-300: #fda4af;
  --color-pink-400: #fb7185;
  --color-pink-500: #f43f5e;
  --color-pink-600: #e11d48;
  --color-pink-700: #be123c;
  --color-pink-800: #9f1239;
  --color-pink-900: #881337;
  --color-pink-950: #4c0519;

  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: translate(-50%, 0);
    }
    20% {
      opacity: 1;
      transform: translate(-50%, -120%);
    }
    80% {
      opacity: 1;
      transform: translate(-50%, -140%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -160%);
    }
  }
  --animate-bounce-in: bounce-in 2s ease-out forwards;
}

:root {
  --background: #fff5f7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
